<div class="page-content">
    <div class="lobby">
        <div class="game-meta">
            <img src="/assets/img/o-logo-brimstone.svg" alt="">
        </div>
        <div class="option-wrapper">
            <div class="lobby-players">
                <h1>Verbundene Spieler</h1>
                <ul class="participants"></ul>
                <a href="#" class="start-odyssey o-primary-button" style="display: none;">Odyssey starten</a>
            </div>
            <div class="lobby-prepare-steps">
                Deine Odyssey startet bald! Jetzt wäre ein guter Zeitpunkt um:
                <ul>
                    <li>
                        <i class="fa-solid fa-restroom"></i> Noch einmal das WC aufzusuchen
                    </li>
                    <li>
                        <i class="fa-solid fa-bell-slash"></i> Dein Handy auf lautlos zu stellen
                    </li>
                    <li>
                        <i class="fa-solid fa-wine-glass"></i> Dir einen Snack und Getränke zu organisieren
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <video class="lobby-bg" autoplay muted playsinline loop>
        <source src="/assets/video/intro.mp4" type="video/mp4">
    </video>
</div>
<div id="loading-screen">
    <div class="loading-screen-content">
        <p>Deine Odyssey startet...</p>
    </div>
</div>

<div class="foot">
    <img src="/assets/img/logo_white.svg" alt="">
</div>
