#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 44%);
    z-index: 9999;
    display: none;
    font-weight: bold;
}

.loading-screen-content {
    align-items: center;
    justify-content: center;
    height: 100%;
    display: flex;
    font-size: 2vw;
    color: #fff;
}

.page-content{
    filter: blur(0px);
    transition: 2s filter, 2s transform;
}

.blur-content {
    filter: blur(51px);
    transform: scale(1.3);
}
